/* =============== CLASSES =============== */

.containerHolder {
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: absolute;
    top: 25%;
    right: 13%;
    margin: var(--mt-3);
    z-index: var(--z-tooltip);
}

.containerResume {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    letter-spacing: var(--spacing-font);
}