/* =============== CLASSES =============== */

.containerHolder {
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: absolute;
    top: 25%;
    right: 13%;
    margin: var(--mt-3);
    z-index: var(--z-tooltip);
}

.containerResume {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    letter-spacing: var(--spacing-font);
}

/* =============== QUERIES =============== */

@media screen and (max-width: 1024px) {
    .containerHolder {
        top: 20%;
        right: 0%;
        width: 650px;
    }
    .containerResume {
        font-size: var(--h1-font-size);
    }
}

@media screen and (max-width: 1024px) {
    .containerHolder {
        top: 25%;
        right: -10%;
        width: 350px;
    }
    .containerResume {
        font-size: var(--h2-font-size);
    }
}