/* =============== CLASSES =============== */

.holderButton {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 0%;
    z-index: var(--z-tooltip);
}

.button {
    font-family: var(--title-font);
    color: var(--text-color);
    padding: var(--mt-2);
    font-size: var(--h1-font-size);
    cursor: pointer;
    text-shadow: var(--second-color-flashy) 2px 0 40px;
}

.button:hover {
    animation: hoverNavbar 3s linear infinite;
}

@keyframes hoverNavbar {
    0% {
        color: var(--text-color);
    }
    20% {
        color: var(--first-color);
        text-shadow: var(--first-color) 2px 0 40px;
    }
    40% {
        color: var(--first-color-darker);
        text-shadow: var(--first-color-darker) 2px 0 40px;
    }
    60% {
        color: var(--second-color);
        text-shadow: var(--second-color) 2px 0 40px;
    }
    80% {
        color: var(--second-color-flashy);
        text-shadow: var(--second-color-flashy) 2px 0 40px;
    }
    100% {
        color: var(--text-color);
        text-shadow: none;
    }
}